* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
height: 100%;
}

body {
    min-height: 100%;
    background-image: url('GameMainBackground.png');
        background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    font-family: 'Press Start 2P', cursive;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
}

/* NAVBAR */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    flex-wrap: wrap;
}

.nav-left,
.nav-right {
    flex: 1;
    display: flex;
    align-items: center;
}

.nav-right {
    justify-content: flex-end;
}

.nav-middle {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

/* UI BOX */
.ui-box {
    background:#1a030adb;
    border:3px solid #ffcc00;
    padding:10px clamp(15px, 4vw, 60px);
    color:#ffcc00;
    font-size:clamp(10px, 2vw, 15px);
    box-shadow:4px 4px 0 #000;
    text-align:center;
}

/* BUTTONS */
.back-btn {
    padding:8px 12px;
    border:3px solid #ffcc00;
    background:#1a030a;
    color:#ffcc00;
    cursor:pointer;
    font-size:clamp(10px, 2vw, 14px);
    box-shadow:4px 4px 0 #000;
}

.back-btn:hover {
    background:#d18c01;
}

.pause-btn {
    width:clamp(40px, 6vw, 60px);
    cursor:pointer;
    display:none;
}

#nextBtn {
    display:none;
    padding:8px 12px;
    background:#ffcc00;
    border:3px solid #000;
    font-family:'Press Start 2P', cursive;
    cursor:pointer;
    font-size:clamp(10px, 2vw, 14px);
}

/* FORM */
.form-wrapper {
    flex: 1;
    display:flex;
    justify-content:center;
    align-items:center;
    gap:20px;
    flex-wrap:wrap;
    padding:20px;
}

.form-panel {
    width: min(90vw, 650px);
    max-width:500px;
    background:#1a030aba;
    border:4px solid #ffcc00;
    padding:20px;
}
.instruction-panel {
    width: clamp(220px, 80vw, 300px);
    max-width: 300px;
    background:#1a030aba;
    border:4px solid #ffcc00;
    padding: clamp(30px, 3vw, 20px);
    color:#ffcc00;
    font-size:10px;
    line-height:1.6;
}

/* INPUTS */
.form-panel input,
.form-panel select {
    width:100%;
    padding:8px;
    font-size:12px;
    font-family:'Press Start 2P', cursive;
}

.form-panel {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.start-btn-con {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* START BUTTON */
.start-img {
    width:180px;
    cursor:pointer;
    align-self:center;
}

/* GAME BOARD */
.game-board {
    display:grid;
    gap:10px;
    width:100%;
    max-width:900px;
    padding:10px;
    margin:0 auto;
}

/* CARDS */
.card {
    width:100%;
    aspect-ratio:5/6;
    perspective:1000px;
}

.card-inner {
    width:100%;
    height:100%;
    transition:0.5s;
    transform-style:preserve-3d;
}

.card.flipped .card-inner {
    transform:rotateY(180deg);
}

.card-front, 
.card-back {
    position:absolute;
    width:100%;
    height:100%;
    backface-visibility:hidden;
}

.card-front img, 
.card-back img {
    width:100%;
    height:100%;
}

.card-back {
    transform:rotateY(180deg);
}

/* OVERLAYS */
.pause-overlay,
.result-overlay {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.7);
    display:none;
    align-items:center;
    justify-content:center;
}

/* PANELS */
.pause-panel,
.result-panel {
    width:90%;
    max-width:600px;
    aspect-ratio:3/2;
    background-size:contain;
    background-repeat:no-repeat;
    background-position:center;
    position:relative;
}

/* PAUSE BUTTONS */
.pause-buttons {
    position:absolute;
    bottom:120px;
    left:50%;
    transform:translateX(-50%);
    display:flex;
    gap:20px;
}

.pause-btn-img {
    width:120px;
    cursor:pointer;
}

.continue-btn {
    position:absolute;
    bottom:25px;
    left:50%;
    transform:translateX(-50%);
    width:240px;
    cursor:pointer;
}

/* RESULT */
.result-info {
    position:absolute;
    top:150px;
    width:100%;
    text-align:center;
    color:#ffcc00;
    font-size:16px;
}

.result-buttons {
    position:absolute;
    bottom:50px;
    left:50%;
    transform:translateX(-50%);
    display:flex;
    gap:15px;
}

.result-btn-img {
    width:100px;
    cursor:pointer;
}

.copyright{
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            font-size:7px;
            color:#ffcc00;
            opacity:0.8;
            text-shadow:2px 2px #000;
            pointer-events:none;
            font-family:'Press Start 2P', cursive;
            min-height: 80px;
        }

@media (max-width: 600px) {

    .navbar {
        flex-direction: column;
        gap:10px;
    }

    .nav-left,
    .nav-right,
    .nav-middle {
        flex: none;
        width:100%;
    }

    .ui-box {
        padding:8px 20px;
        font-size:10px;
    }

    .pause-btn {
        width:40px;
    }

    .pause-buttons {
        bottom:80px;
        gap:10px;
    }

    .pause-btn-img {
        width:80px;
    }

    .continue-btn {
        width:160px;
    }

    .result-buttons {
        bottom:30px;
        gap:10px;
    }

    .result-btn-img {
        width:70px;
    }
}